In [1]:
import pandas as pd
df1=pd.read_csv('Social_Network_Ads.csv')

df1=df1.drop("User ID",axis=1)
df1

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [2]:
from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
df1['Gender']= label_encoder.fit_transform(df1['Gender'])

In [3]:
X=df1[['Gender','Age','EstimatedSalary']]
Y=df1['Purchased']

X

     Gender  Age  EstimatedSalary
0         1   19            19000
1         1   35            20000
2         0   26            43000
3         0   27            57000
4         1   19            76000
..      ...  ...              ...
395       0   46            41000
396       1   51            23000
397       0   50            20000
398       1   36            33000
399       0   49            36000

[400 rows x 3 columns]

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [5]:
X[["Age"]] = scaler.fit_transform(X[["Age"]])

C:\Users\parth\AppData\Local\Temp\ipykernel_18708\3714000637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[["Age"]] = scaler.fit_transform(X[["Age"]])

In [6]:
X[["EstimatedSalary"]] = scaler.fit_transform(X[["EstimatedSalary"]])

C:\Users\parth\AppData\Local\Temp\ipykernel_18708\2040456775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[["EstimatedSalary"]] = scaler.fit_transform(X[["EstimatedSalary"]])

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score



X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

clf = DecisionTreeClassifier()

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy score: {accuracy}")

Accuracy score: 0.8875

In [21]:
Max=[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
Min=[3,4,5,6,7,8]
acc=[]
for i in range(len(Max)):
    for j in range(len(Min)):
        X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

        clf = DecisionTreeClassifier(max_depth=Max[i],min_samples_leaf=Min[j])

        clf.fit(X_train, y_train)

        y_pred = clf.predict(X_test)

        accuracy = accuracy_score(y_test, y_pred)
        acc.append(accuracy)
        
        print(f"Accuracy score: {accuracy}\nMAX:{Max[i]}\nMIN:{Min[j]}")
print(f'The max value is:{max(acc)}')

Accuracy score: 0.925
MAX:2
MIN:3
Accuracy score: 0.925
MAX:2
MIN:4
Accuracy score: 0.9125
MAX:2
MIN:5
Accuracy score: 0.9125
MAX:2
MIN:6
Accuracy score: 0.9
MAX:2
MIN:7
Accuracy score: 0.8875
MAX:2
MIN:8
Accuracy score: 0.9125
MAX:3
MIN:3
Accuracy score: 0.775
MAX:3
MIN:4
Accuracy score: 0.9375
MAX:3
MIN:5
Accuracy score: 0.875
MAX:3
MIN:6
Accuracy score: 0.8125
MAX:3
MIN:7
Accuracy score: 0.8375
MAX:3
MIN:8
Accuracy score: 0.8875
MAX:4
MIN:3
Accuracy score: 0.8375
MAX:4
MIN:4
Accuracy score: 0.925
MAX:4
MIN:5
Accuracy score: 0.8375
MAX:4
MIN:6
Accuracy score: 0.9375
MAX:4
MIN:7
Accuracy score: 0.925
MAX:4
MIN:8
Accuracy score: 0.875
MAX:5
MIN:3
Accuracy score: 0.875
MAX:5
MIN:4
Accuracy score: 0.8375
MAX:5
MIN:5
Accuracy score: 0.9625
MAX:5
MIN:6
Accuracy score: 0.875
MAX:5
MIN:7
Accuracy score: 0.925
MAX:5
MIN:8
Accuracy score: 0.9125
MAX:6
MIN:3
Accuracy score: 0.8875
MAX:6
MIN:4
Accuracy score: 0.9125
MAX:6
MIN:5
Accuracy score: 0.925
MAX:6
MIN:6
Accuracy score: 0.8
MAX:6
MIN:7
Accuracy score: 0.9375
MAX:6
MIN:8
Accuracy score: 0.875
MAX:7
MIN:3
Accuracy score: 0.875
MAX:7
MIN:4
Accuracy score: 0.9375
MAX:7
MIN:5
Accuracy score: 0.9375
MAX:7
MIN:6
Accuracy score: 0.8875
MAX:7
MIN:7
Accuracy score: 0.8875
MAX:7
MIN:8
Accuracy score: 0.85
MAX:8
MIN:3
Accuracy score: 0.9
MAX:8
MIN:4
Accuracy score: 0.925
MAX:8
MIN:5
Accuracy score: 0.85
MAX:8
MIN:6
Accuracy score: 0.9125
MAX:8
MIN:7
Accuracy score: 0.8875
MAX:8
MIN:8
Accuracy score: 0.9125
MAX:9
MIN:3
Accuracy score: 0.875
MAX:9
MIN:4
Accuracy score: 0.9
MAX:9
MIN:5
Accuracy score: 0.85
MAX:9
MIN:6
Accuracy score: 0.9125
MAX:9
MIN:7
Accuracy score: 0.8875
MAX:9
MIN:8
Accuracy score: 0.875
MAX:10
MIN:3
Accuracy score: 0.85
MAX:10
MIN:4
Accuracy score: 0.8875
MAX:10
MIN:5
Accuracy score: 0.9125
MAX:10
MIN:6
Accuracy score: 0.85
MAX:10
MIN:7
Accuracy score: 0.8875
MAX:10
MIN:8
Accuracy score: 0.8875
MAX:11
MIN:3
Accuracy score: 0.8875
MAX:11
MIN:4
Accuracy score: 0.8875
MAX:11
MIN:5
Accuracy score: 0.9
MAX:11
MIN:6
Accuracy score: 0.8875
MAX:11
MIN:7
Accuracy score: 0.9625
MAX:11
MIN:8
Accuracy score: 0.9125
MAX:12
MIN:3
Accuracy score: 0.8625
MAX:12
MIN:4
Accuracy score: 0.925
MAX:12
MIN:5
Accuracy score: 0.8875
MAX:12
MIN:6
Accuracy score: 0.8875
MAX:12
MIN:7
Accuracy score: 0.9375
MAX:12
MIN:8
Accuracy score: 0.9
MAX:13
MIN:3
Accuracy score: 0.85
MAX:13
MIN:4
Accuracy score: 0.9
MAX:13
MIN:5
Accuracy score: 0.8875
MAX:13
MIN:6
Accuracy score: 0.8875
MAX:13
MIN:7
Accuracy score: 0.85
MAX:13
MIN:8
Accuracy score: 0.9375
MAX:14
MIN:3
Accuracy score: 0.825
MAX:14
MIN:4
Accuracy score: 0.925
MAX:14
MIN:5
Accuracy score: 0.8125
MAX:14
MIN:6
Accuracy score: 0.9125
MAX:14
MIN:7
Accuracy score: 0.8875
MAX:14
MIN:8
Accuracy score: 0.8875
MAX:15
MIN:3
Accuracy score: 0.875
MAX:15
MIN:4
Accuracy score: 0.8375
MAX:15
MIN:5
Accuracy score: 0.925
MAX:15
MIN:6
Accuracy score: 0.85
MAX:15
MIN:7
Accuracy score: 0.875
MAX:15
MIN:8
Accuracy score: 0.8875
MAX:16
MIN:3
Accuracy score: 0.9
MAX:16
MIN:4
Accuracy score: 0.9
MAX:16
MIN:5
Accuracy score: 0.8875
MAX:16
MIN:6
Accuracy score: 0.8875
MAX:16
MIN:7
Accuracy score: 0.9625
MAX:16
MIN:8
Accuracy score: 0.8625
MAX:17
MIN:3
Accuracy score: 0.9
MAX:17
MIN:4
Accuracy score: 0.875
MAX:17
MIN:5
Accuracy score: 0.9
MAX:17
MIN:6
Accuracy score: 0.8875
MAX:17
MIN:7
Accuracy score: 0.8375
MAX:17
MIN:8
Accuracy score: 0.8625
MAX:18
MIN:3
Accuracy score: 0.875
MAX:18
MIN:4
Accuracy score: 0.9125
MAX:18
MIN:5
Accuracy score: 0.8875
MAX:18
MIN:6
Accuracy score: 0.925
MAX:18
MIN:7
Accuracy score: 0.8625
MAX:18
MIN:8
Accuracy score: 0.9125
MAX:19
MIN:3
Accuracy score: 0.8875
MAX:19
MIN:4
Accuracy score: 0.9
MAX:19
MIN:5
Accuracy score: 0.85
MAX:19
MIN:6
Accuracy score: 0.875
MAX:19
MIN:7
Accuracy score: 0.925
MAX:19
MIN:8
Accuracy score: 0.8875
MAX:20
MIN:3
Accuracy score: 0.925
MAX:20
MIN:4
Accuracy score: 0.875
MAX:20
MIN:5
Accuracy score: 0.925
MAX:20
MIN:6
Accuracy score: 0.825
MAX:20
MIN:7
Accuracy score: 0.925
MAX:20
MIN:8
The max value is:0.9625