In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_excel('FinancialSample.xlsx','Sheet1')

In [ ]:
df2 = pd.read_excel('FinancialSample.xlsx','Sheet2')

In [ ]:
df1.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

In [ ]:
#Find average profit for each product
filtered_df = df1[['Product','Profit',' Sales']]
#filtered_df.head()
filtered_df.groupby('Product').agg('mean')

                 Profit          Sales
Product
Amarilla   29937.277234  188799.107021
Carretera  19643.063280  148551.697688
Montana    22739.299785  165492.493333
Paseo      23749.692822  163421.504703
VTT        27840.440550  188182.761651
Velo       21155.894174  167431.738211

In [ ]:
#Find the total sales of Carretera in Maxico
df1[(df1['Country'] == 'Mexico') & (df1['Product'] == 'Carretera')][' Sales'].sum()

2879601.42

In [ ]:
#df1[(df1['Country'] == 'Canada') | (df1['Country'] == 'Germany')]

df1[df1['Country'].isin(['Canada','Germany'])].head(2)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014

In [ ]:
# Filter data for Contry either 'Canada' or 'Germany' and only for product 'Carretera' where profit >5000

df1[(df1['Country'].isin(['Canada','Germany'])) & (df1['Product'] == 'Carretera') & (df1['Profit']>5000.0)].head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
5,Government,Germany,Carretera,None,1513.0,3,350,529550.0,0.00,529550.00,393380.0,136170.00,2014-12-01,12,December,2014
61,Channel Partners,Canada,Carretera,Low,1445.0,3,12,17340.0,173.40,17166.60,4335.0,12831.60,2014-09-01,9,September,2014
64,Channel Partners,Germany,Carretera,Low,766.0,3,12,9192.0,91.92,9100.08,2298.0,6802.08,2013-10-01,10,October,2013

#Joining 2 dataframes

#(1) Horizontally Join

In [ ]:
part1 = df1[df1['Country'] == 'Canada']
part2 = df1[df1['Country'] == 'Germany']

In [ ]:
part1.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
7,Channel Partners,Canada,Montana,None,2518.0,5,12,30216.0,0.0,30216.0,7554.0,22662.0,2014-06-01,6,June,2014
11,Enterprise,Canada,Montana,None,2665.5,5,125,333187.5,0.0,333187.5,319860.0,13327.5,2014-07-01,7,July,2014
14,Enterprise,Canada,Montana,None,345.0,5,125,43125.0,0.0,43125.0,41400.0,1725.0,2013-10-01,10,October,2013
16,Government,Canada,Paseo,None,292.0,10,20,5840.0,0.0,5840.0,2920.0,2920.0,2014-02-01,2,February,2014

In [ ]:
part2.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
5,Government,Germany,Carretera,None,1513.0,3,350,529550.0,0.0,529550.0,393380.0,136170.0,2014-12-01,12,December,2014
6,Midmarket,Germany,Montana,None,921.0,5,15,13815.0,0.0,13815.0,9210.0,4605.0,2014-03-01,3,March,2014
9,Channel Partners,Germany,Montana,None,1545.0,5,12,18540.0,0.0,18540.0,4635.0,13905.0,2014-06-01,6,June,2014

In [ ]:
df_concated = pd.concat([part1,part2], axis = 0)

In [ ]:
df_concated

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
7,Channel Partners,Canada,Montana,None,2518.0,5,12,30216.0,0.00,30216.00,7554.0,22662.00,2014-06-01,6,June,2014
11,Enterprise,Canada,Montana,None,2665.5,5,125,333187.5,0.00,333187.50,319860.0,13327.50,2014-07-01,7,July,2014
14,Enterprise,Canada,Montana,None,345.0,5,125,43125.0,0.00,43125.00,41400.0,1725.00,2013-10-01,10,October,2013
16,Government,Canada,Paseo,None,292.0,10,20,5840.0,0.00,5840.00,2920.0,2920.00,2014-02-01,2,February,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,Enterprise,Germany,Paseo,High,1085.0,10,125,135625.0,20343.75,115281.25,130200.0,-14918.75,2014-10-01,10,October,2014
677,Midmarket,Germany,Paseo,High,1175.0,10,15,17625.0,2643.75,14981.25,11750.0,3231.25,2014-10-01,10,October,2014
689,Midmarket,Germany,VTT,High,492.0,250,15,7380.0,1107.00,6273.00,4920.0,1353.00,2014-07-01,7,July,2014
691,Midmarket,Germany,VTT,High,1175.0,250,15,17625.0,2643.75,14981.25,11750.0,3231.25,2014-10-01,10,October,2014
693,Enterprise,Germany,VTT,High,552.0,250,125,69000.0,10350.00,58650.00,66240.0,-7590.00,2014-11-01,11,November,2014


#(2) Verticall Join
Segment	Country	Product	Discount Band	Units Sold	Manufacturing Price	Sale Price	Gross Sales	Discounts	Sales	COGS

In [ ]:
part3 = df[['Segment','Country','Product']]

In [ ]:
part3.head()

      Segment  Country    Product
0  Government   Canada  Carretera
1  Government  Germany  Carretera
2   Midmarket   France  Carretera
3   Midmarket  Germany  Carretera
4   Midmarket   Mexico  Carretera

In [ ]:
part4 = df[[' Sales','COGS']]
part4.head()

     Sales     COGS
0  32370.0  16185.0
1  26420.0  13210.0
2  32670.0  21780.0
3  13320.0   8880.0
4  37050.0  24700.0

In [ ]:
df_concated = pd.concat([part3,part4], axis = 1)

In [ ]:
df_concated.head()

      Segment  Country    Product    Sales     COGS
0  Government   Canada  Carretera  32370.0  16185.0
1  Government  Germany  Carretera  26420.0  13210.0
2   Midmarket   France  Carretera  32670.0  21780.0
3   Midmarket  Germany  Carretera  13320.0   8880.0
4   Midmarket   Mexico  Carretera  37050.0  24700.0

#Aggregate functions with groupby

In [ ]:
filtered = df_concated[['Product','COGS']]

In [ ]:
x = filtered.groupby('Product').agg('mean')

In [ ]:
x

                    COGS
Product
Amarilla   158861.829787
Carretera  128908.634409
Montana    142753.193548
Paseo      139671.811881
VTT        160342.321101
Velo       146275.844037

In [ ]:
# Filter data with segment and sale.
# Find maximum sales for each segment.

In [ ]:
tempdf = df1[['Segment',' Sales']]

In [ ]:
tempdf.head()

      Segment    Sales
0  Government  32370.0
1  Government  26420.0
2   Midmarket  32670.0
3   Midmarket  13320.0
4   Midmarket  37050.0

In [ ]:
tempdf.groupby('Segment').agg('max')

                       Sales
Segment
Channel Partners    42997.68
Enterprise         527437.50
Government        1159200.00
Midmarket           53594.10
Small Business    1038082.50